/*Edited and answered by Hieu Nguyen*/

/*Here is the website I found for the body to insert the image http://www.w3schools.com/cssref/pr_background-image.asp*/
/* Syntax For Background-image: background-image: url|none|initial|inherit; 
url:   Url of the image. To set more than one image, place the urls separated by a comma
none:  This is default property with no background image
initial: Sets the property to default value
inherit: The property is inherited from its parent element
*/
body {
	background-image: url(../images/outerspace_landscape.jpeg);
	background-repeat: no-repeat;
	background-size: cover;
}
/*Here is the website which help me http://www.w3schools.com/css/css_navbar.asp and http://www.w3schools.com/tags/tag_nav.asp*/
nav {
  width: 100%; 
  background-color: grey;
  position: fixed;
  height: 60px;
}

nav ul {
  display: inline-block;
  list-style: none;
}

nav li {
  display: inline-block;
}
/*CSS ::after Selector http://www.w3schools.com/cssref/sel_after.asp */
nav li::after {
  content: "|";
  margin-left: 5px;
}

nav a:hover {
  color: black;
}

main {
	padding-top: 90px;
	min-width: 1000px;
}
/*This is the image for the cat on the top of the navgation bar*/
.image {
	height: 50px;
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 50%;
  vertical-align: middle;
  border: 1px solid black;
}
/*This is a green dotted line sqaure around the cat and dog.*/
.dotted_box {
	margin-top: 150px;
	border: 10px dotted green;
	width: 600px;
	height: 300px;
	position: relative;
	margin-left: auto;
	margin-right: auto;
}
/*Adjusting the picture for the cat and dog*/
.spacedog, .spacecat {
	width: 200px;
	position: absolute;
}
.spacedog {
	bottom: 150px;
	right: 250px;
}
.spacecat {
	top: 90px;
	left: 250px;
}